.checkoutProduct {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkoutProduct__details {
    padding-left: 20px;
}

.checkoutProduct__img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 500;
}


.checkoutProduct__details > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a8b734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.checkoutProduct__details > button:hover {
  transform: scale(1.01);
  transform-origin: center center;
}


